{% load static %}
<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="utf-8">
    <title>Tytuł</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap-responsive.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
</head>
 
<body>

<div class="container" id="wrapper">

    <div class="row"><!--  PASEK GORA -->
        <div class="topbar">
            <div class="logo pull-left">
                <h1><a href="#"><img src="{% static 'img/h.jpg' %}"></a></h1>
            </div>
            <div class="topbar-links pull-right">
                <a href="login.html">Logowanie</a> | <a href="#">Rejestracja</a>
            </div>
        </div>
    </div>

    <div class="row"><!-- Menu -->
        <div id="mainmenu" class="navbar navbar-inverse"> 
                <div class="navbar-inner">
                    <div>
                        <a class="brand" href="#"></a>
                        <ul class="nav">
                            <li class="active"><a href="index.html">Strona główna</a></li>
                            <li><a href="index.html">Warunki wynajmu</a></li>
                            <li><a href="index.html">Kontakt</a></li>
                        </ul>
                    </div>
                </div>
        </div>
    </div>

    <div class="row"><!-- Glowna czesc -->

        <div class="span9"><!-- Lewa kolumna -->
            <div  class="row latest"><!-- Polecane nowe auta -->

                {% block featured %}
                {% endblock %}

            </div><!--  Koniec polecanych aut -->

            <div class="row"><!-- Artykuly lista -->

            
                {% block article %}
                {% endblock %}

            </div><!--  Koniec listy art -->

        </div><!-- Koniec lewej kolumny -->

        <div class="span3"><!-- Prawa kolumna -->
            <div class="well sidebar-nav">
                <ul class="nav nav-list">
                    <li class="nav-header">Twoje konto</li>
                    <li class="active"><a href="">Ustawienia profilu</a></li>
                    <li><a href="">Powiadomienia</a></li>
                    <li><a href="">Wyloguj</a></li>
                </ul>
            </div>
        </div>

        <div class="span3"><!-- Prawa kolumna -->
            <br/><br/><br/>
            <h1><a href="#"><img src="{% static 'img/vert.jpg' %}"></a></h1>
        </div>


    </div>

    <div class="row">
        <hr>
        <div class="footer-wrap">
            <p>Strefa Wynajmu</p>
        </div>
    </div>

</div>

</body> 

</html>